@charset "UTF-8";
#intro-text {
  position: absolute;
  width: 100%;
  top: 5%;
  left: 5%;
}
#intro-text p {
  color: white;
  font-family: baloo;
  font-size: 5vmin;
  margin-top: 2.5vmin;
  line-height: 100%;
  filter: drop-shadow(0px 7px 5px rgba(0, 0, 0, 0.25));
}
#intro-text p.tab {
  margin-left: 10vmin;
}

.typewriter {
  display: flex;
  align-items: center;
}
.typewriter img {
  display: none;
  position: absolute;
  left: 2.5vmin;
  filter: drop-shadow(0px 7px 5px rgba(0, 0, 0, 0.25));
  width: 5vmin;
}
.typewriter .caret {
  display: none;
}
.typewriter.typing .caret {
  will-change: filter;
  display: inline-block;
  height: 7.5vmin;
  width: 1.5vmin;
  border-radius: 10px;
  transform: translate(0, 3px);
  filter: drop-shadow(0px 7px 5px rgba(0, 0, 0, 0.25));
  animation: blink-caret 1s step-end infinite;
}
@keyframes blink-caret {
  from, to {
    background-color: white;
  }
  50% {
    background-color: transparent;
  }
}

@font-face {
  font-family: baloo;
  src: url(./baloo/Baloo-Regular.woff) format("woff");
  font-display: swap;
}
:root {
  --purple: #190624;
  --purple-rgb: 25, 6, 36;
  --green: #58cc02;
  --dark-green: #0d4c06;
  --blue-green: #00813f;
  --blue: #1cb0f6;
  --white: #f7f7f7;
  --caramel: #cd7900;
  --brown: #4d2b12;
  --light-grey: #afafaf;
  --grey: #4b4b4b;
  --dark-grey: #383737;
  --background: var(--purple);
  --top-bg-color: var(--purple);
  --bottom-bg-color: var(--caramel);
  --device-border: 1.5vh;
  --device-border-bottom: 4vh;
  --max-device-height: calc(
    90vh - var(--device-border-bottom) - var(--device-border)
  );
  --max-device-width: calc(90vw - 2 * var(--device-border));
  --device-height: var(--max-device-height);
  --device-width: calc(0.5 * var(--max-device-height));
  --desk-size: calc(2 * var(--device-width));
}
@media (min-aspect-ratio: 2/3) {
  :root {
    --device-width: calc(0.75 * var(--max-device-height));
  }
}
@media (min-aspect-ratio: 1/1) {
  :root {
    --max-device-height: calc(
      72.5vh - var(--device-border-bottom) - var(--device-border)
    );
    --max-device-width: calc(95vw - 2 * var(--device-border));
    --device-height: min(
      calc(0.56 * var(--max-device-width)),
      var(--max-device-height)
    );
    --device-width: min(
      var(--max-device-width),
      calc(1.78 * var(--max-device-height))
    );
  }
}

html,
body {
  background: var(--top-bg-color);
  margin: 0;
  height: 100%;
  width: 100%;
}

html {
  overflow: hidden;
}

body {
  overflow: hidden;
  overflow-y: auto;
  -webkit-text-size-adjust: 100%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: 0;
}

body {
  transition: opacity 1s ease;
  opacity: 0;
}

body .tablet-only,
body .desktop-only {
  display: none;
}
@media (min-aspect-ratio: 2/3) {
  body .mobile-only {
    display: none;
  }
  body .tablet-only {
    display: initial;
  }
}
@media (min-aspect-ratio: 1/1) {
  body .tablet-only {
    display: none;
  }
  body .desktop-only {
    display: initial;
  }
}

::-webkit-scrollbar {
  display: none;
}

#view {
  position: relative;
  height: 100%;
  width: 100%;
}

p {
  margin: 0px;
}

.parallax-pan {
  transition: transform 0.5s ease-out;
}

.parallax-scroll {
  transition: transform 0.25s ease-out;
}

.fixed-footer {
  position: fixed;
  z-index: 3;
  pointer-events: none;
  bottom: 0;
  width: 100%;
  display: flex;
  margin: 15px;
}

.fixed-button {
  pointer-events: all;
  margin: 5px;
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.5));
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  transition: transform 0.5s ease;
  will-change: transform;
}
.fixed-button:hover {
  transition: transform 0.25s ease;
  transform: scale(1.15);
}

#starting-page {
  position: relative;
  z-index: 2;
  height: 100%;
  width: 100%;
  background: var(--purple);
}
@media (min-aspect-ratio: 1/1) {
  #starting-page {
    background: var(--purple);
  }
}

#starting-background {
  position: absolute;
  height: auto;
  width: auto;
  top: 5vh;
  left: 50%;
  transform: translate(-50%, 0);
}
#starting-background img {
  height: 100vh;
}
#starting-background::after {
  content: "";
  height: 100%;
  width: 110%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  background: linear-gradient(to right, var(--purple) 0, rgba(var(--purple-rgb), 0.5) 25%, rgba(var(--purple-rgb), 0.5) 75%, var(--purple) 100%);
}

#scroll-down {
  opacity: 0;
  transform: translate(0, -100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 10%;
  bottom: 30px;
}
#scroll-down img {
  filter: drop-shadow(0px 7px 5px rgba(0, 0, 0, 0.25));
}

body.can-scroll #scroll-down {
  transition: transform 1s ease 0.5s, opacity 1s ease 0.5s;
  opacity: 1;
  transform: translate(0, 0);
}
body.can-scroll #scroll-down #scroll-down-icon {
  cursor: pointer;
}
body.can-scroll #scroll-down #scroll-down-icon img {
  transition: transform 1s ease;
  transform: translate(0, 0);
}
body.can-scroll #scroll-down #scroll-down-icon:hover img {
  transition: transform 0.5s ease;
  transform: translate(0, 15px);
}
body.can-scroll #scroll-down #scroll-down-icon:active img {
  transform: translate(0, 15px) scale(0.9);
}

#spacer {
  height: 105%;
  width: 100%;
  background-color: var(--background);
}

.device {
  position: absolute;
  height: var(--device-height);
  width: var(--device-width);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 3vh;
}
@media (min-aspect-ratio: 1/1) {
  .device {
    border-radius: 2vh;
    transform: translate(-50%, 0);
    top: 5%;
  }
}

#project-page {
  height: 100%;
  width: 100%;
  position: relative;
  background: var(--purple);
  overflow: hidden;
}

#project-page-underlay {
  pointer-events: none;
}

#project-page-overlay {
  pointer-events: none;
  z-index: 1;
}
#project-page-overlay::before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  box-shadow: 0 calc(var(--device-border-bottom) - var(--device-border)) 0 var(--device-border) var(--dark-grey);
}
#project-page-overlay::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 3vh;
  box-shadow: 0 0 0 var(--device-border) var(--grey), inset 0 0 0 1px var(--grey);
}
#project-page-overlay::before, #project-page-overlay::after {
  border-radius: 3vh;
}
@media (min-aspect-ratio: 1/1) {
  #project-page-overlay::before, #project-page-overlay::after {
    border-radius: 2vh;
  }
}

#project-page-content {
  overflow-x: hidden;
  position: relative;
  background: var(--green);
}
@media (min-aspect-ratio: 1/1) {
  #project-page-content {
    cursor: none;
  }
}

.section {
  margin-bottom: 75px;
}

.section-content {
  position: relative;
  display: flex;
  height: 100%;
  width: 100%;
  overflow-x: auto;
}

.slide {
  flex: 0 0 auto;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: var(--blue);
}
.slide:nth-child(2n) {
  background-color: var(--caramel);
}

.section-header {
  color: var(--white);
  font-family: baloo;
  font-size: max(7.5 * var(--device-width) / 100, 36px);
  line-height: 100%;
  text-shadow: 0px 5px rgba(0, 0, 0, 0.25);
}

.section-subheader {
  color: var(--blue-green);
  font-family: baloo;
  font-size: max(3.75 * var(--device-width) / 100, 20px);
  line-height: 100%;
}

.card {
  margin: 10px 0 25px 0;
  position: relative;
  font-size: 10px;
  width: 100%;
  border-radius: 1em;
  background: rgba(255, 255, 255, 0.25);
  padding: 2.5% 5%;
  box-sizing: border-box;
  pointer-events: none;
}
.card::before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 1em;
  box-shadow: 0 1em 0 0 rgba(0, 0, 0, 0.25);
}

.flex-card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 5px 25px 5px;
  padding: 0px;
  pointer-events: none;
}
.flex-card a {
  width: 100%;
  padding-bottom: 100%;
  text-decoration: none;
  pointer-events: all;
  cursor: none;
}
.flex-card a i {
  will-change: transform;
  transition: transform 0.5s ease;
  transform: translate(-50%, -50%);
}
.flex-card a:hover i {
  transition: transform 0.25s ease;
  transform: translate(-50%, -50%) scale(1.15);
}

p {
  font-size: max(3 * var(--device-width) / 100, 18px);
  font-family: "baloo";
  color: var(--dark-green);
  line-height: 115%;
}
p.small-text {
  font-size: max(2 * var(--device-width) / 100, 16px);
}
p.big-text {
  font-size: max(4.5 * var(--device-width) / 100, 24px);
  color: var(--white);
  text-shadow: 0px 3px rgba(0, 0, 0, 0.25);
  margin-bottom: 5px;
}

.bulleted::before {
  content: "• ";
  color: var(--dark-green);
}

#url {
  font-family: baloo;
  font-size: calc(4 * var(--device-width) / 100);
  line-height: 100%;
  color: var(--dark-grey);
}
@media (min-aspect-ratio: 1/1) {
  #url {
    font-size: calc(1.75 * var(--device-width) / 100);
  }
}

#url-page {
  position: relative;
}
#url-page::after {
  content: "";
  position: absolute;
  left: 100%;
  top: 10%;
  bottom: 10%;
  right: 0;
  opacity: 50%;
  background: #ffc800;
}
#url-page.highlight::after {
  transition: left 0.25s ease;
  left: 0;
}

#desk {
  height: 100vh;
  width: var(--desk-size);
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
}

#desktop {
  background: var(--caramel);
  position: absolute;
  width: 100%;
  height: 40%;
  bottom: 0;
  left: 0;
  border-radius: 2.5vh 2.5vh 0 0;
}

#keyboard-holder {
  position: absolute;
  z-index: 1;
  height: 48vh;
  top: calc(5% + var(--device-height) + var(--device-border-bottom));
  right: 45%;
}
#keyboard-holder img {
  height: 100%;
  transform: translate(0, -5%);
}

#mouse-holder {
  position: absolute;
  width: 25vh;
  height: 10vh;
  top: calc(5% + var(--device-height) + var(--device-border-bottom) + 7.5vh);
  left: calc(55% + 25px);
}

#mouse {
  position: absolute;
  z-index: 1;
  height: 27.5vh;
  top: 50%;
  left: 50%;
}
#mouse.disabled {
  transform: translate(0, 0) !important;
}
#mouse::after {
  content: "";
  position: absolute;
  height: 25vh;
  width: 25vh;
  border-radius: 100%;
  top: 35%;
  left: 25%;
  background: var(--brown);
}
#mouse img {
  height: 100%;
  transform: rotate(-10deg);
}

#cursor {
  will-change: filter;
  position: absolute;
  color: var(--white);
  font-size: 5vh;
  top: 50%;
  left: 50%;
  transform: translate(0px, 0px);
  fill: var(--white);
  filter: drop-shadow(rgba(0, 0, 0, 0.25) -5px 5px 5px);
}

#navigation {
  display: flex;
  position: absolute;
  width: 2.5%;
  height: calc(90% - 30px);
  top: calc(10% + 15px);
  left: 2.5%;
}
@media (min-aspect-ratio: 1/1) {
  #navigation {
    cursor: none;
  }
}

#navigation-thumb {
  height: 10%;
  width: 100%;
  border-radius: inherit;
  background: black;
  transform: translate(0, 0);
}

#navigation-track {
  transition: background-color 0.2s ease;
  pointer-events: all;
  height: 100%;
  width: 100%;
  border-radius: 9999px;
  background-color: rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
#navigation-track:hover {
  background-color: rgba(0, 0, 0, 0.35);
}
#navigation-track:active {
  width: 30px;
  border-radius: 30px;
}

.slides-navigation {
  display: flex;
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translate(-50%, 0);
}

.nav-dot {
  transition: transform 0.5s ease, opacity 0.5s ease;
  pointer-events: all;
  cursor: pointer;
  height: 25px;
  width: 25px;
  background: black;
  border-radius: 25px;
  margin: 0 10px 0 10px;
  opacity: 0.25;
}
.nav-dot.active {
  opacity: 1;
}
.nav-dot:hover {
  transition: transform 0.25s ease;
  transform: translate(0, -5px) scale(1.15);
}
.nav-dot:active {
  transform: translate(0, -5px) scale(1.05);
}

.collapsible-flex-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
@media (min-aspect-ratio: 2/3) {
  .collapsible-flex-row {
    flex-direction: row;
  }
}

.collapsible-columns {
  display: flex;
  flex-wrap: wrap;
}
.collapsible-columns p {
  width: 50%;
  text-align: center;
}
@media (min-aspect-ratio: 2/3) {
  .collapsible-columns p {
    width: 33%;
  }
}

.app-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: min(75%, 150px);
  margin-bottom: 10px;
  pointer-events: all;
  text-decoration: none;
}
@media (min-aspect-ratio: 2/3) {
  .app-icon {
    width: min(40%, 150px);
  }
}

.pointer {
  pointer-events: all;
  cursor: none;
}

.fa-hand-pointer {
  margin-left: -1vw;
}

/*# sourceMappingURL=main.css.map */
