:root {
  --dark-color: #060214;
  --light-color: #ffffff;
  --dark-accent-color: #64FFBD;
  --light-accent-color: #9B0042;
}

body {
  background-color: var(--dark-color);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #060214;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes yodahe-up-down {
  from {
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(0px, 10px);
    /* transform: rotate(360deg); */
  }
}

.yodahe {
  z-index: -1;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 50vw;
  max-width: 1000px;
  min-width: 250px;
  animation: yodahe-up-down infinite 5s linear alternate;

  transition-property: opacity;
  transition-duration: .5s;
  transition-timing-function: ease-in-out;
}
