// Small tablets and large smartphones (portrati view)
$screen-sm-min: 576px;

// Small tablets (landscape view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

// Small devices
@mixin sm {
  @media (min-width: #{$screen-sm-min}) {
    @content;
  }
}

// Medium devices
@mixin md {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
}

// Large devices
@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}

// Extra large devices
@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
    @content;
  }
}

// Custom width
@mixin width($screen) {
  @media (min-width: $screen + "px") {
    @content;
  }
}

// === ASPECT RATIOS ===

@mixin tall {
  @media (min-aspect-ratio: 2/3) {
    @content;
  }
}

@mixin square {
  @media (min-aspect-ratio: 1/1) {
    @content;
  }
}

// Aspect ratio wider than or equal to 1/1
@mixin wide {
  @media (min-aspect-ratio: 2/1) {
    @content;
  }
}
